@CHARSET "UTF-8";

html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #0000FF;}
a:hover {color: #0000FF; text-decoration:underline;}
a:visited {color: #6611CC;}

body {
	background: #EFEFEF url('../resources/design/imagem/background_degrade_interno.jpg') repeat-x;
	color: #39608b;
	padding-top: 10px;
	font:Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {font: normal 1.8em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;}
h2 {font: normal 1.4em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;}
h3 {font: normal 1em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #CCC;
	color: #666;
	display: block;
	font: normal 1em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(../img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}

/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}

/* structure */
.inner-container {
	position: absolute;  
    left: 50%;  
    margin-left: -490px;  
	border: 1px solid #39608b;
	background: #FFF;
	/*margin: 0 auto;*/
	padding: 10px;
	width: 980px;
}

.outer-container {
	/*background: url('../img/container.jpg') no-repeat center bottom;*/
	padding-bottom: 30px;
}

/* headere & title */
.header {
	/*background: #222 url('../img/header.jpg') no-repeat;*/
	height: 160px;
	margin-bottom: 5px;
	text-align: center;
}
.header .title {
	color: #FFF;
	padding-top: 50px;
}
.header .title .sitename a {
	border-bottom: 1px dashed #657382;
	color: #FFF;
	font: normal 3em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
	padding-bottom: 2px;
	text-decoration: none;
}
.header .title a:hover {border-color: #F60;}
.header .title .slogan {
	font: normal 1.1em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
	padding-top: 6px;
}

/* path */
.path {
	background: #949490;
	color: #FFF;
	font: normal 1.1em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
	padding: 8px 12px;
}
.path a {
	color: #FAFAFA;
	text-decoration: none;
}
.path a:hover {
	color: #FFE;
	text-decoration: underline;
}

/* main */
.main {
	border-top: 4px solid #FFF;
	padding: 8px 0 0 0;
}

/* content */
.content {
	
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content p {font-family: Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;}

/* navigation */
.navigation {
	float: left;
	width: 210px;
}
.navigation h2 {
	color: #5A5A43;
	font: normal 1.1em Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.navigation ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
.navigation li {border-bottom: 1px solid #EAEADA;}
.navigation li a {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.navigation li a:hover {
	background: #F0F0EB;
	color: #654;	
}

/* footer */
.footer {
	background: #949490;
	color: #F7F7F2;
	margin-top: 10px;
	padding: 10px 12px;
}
.footer a {
	color: #F7F7F2;
	text-decoration: none;
}
.footer a:hover {color: #FFC;}

.ui-widget {
    font-size: 11px !important;
}

label {
    font-size: 12px !important;
}


.load {
	background-color: #DBF2FD;
	border: 1px solid #999999;
	height: 90px;
	left: 50%;
	margin-left: -120px;
	margin-top: -50px;
	padding-top: 55px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 200px;
}

.nomeSeg {
	color: #39608b;
	font-family: Lucida Grande, Lucida Sans Unicode, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 10px;
}

.error {
	background-color: #FFBABA;
	color: #930007;
	border: 1px solid #930007;
	margin: 10px 0;
	padding: 10px;
	background-position: 0 0;
	height: 100%;
	margin-top: -4px;
	width: 97%;
	font-size: 15px;
	line-height: 23px;
}

.error-icon {
	background: url("../resources/design/imagem/icone-error.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	padding-left: 30px;
	height: 22px;
}

/*Efeito zebrado*/
.ui-datatable .ui-datatable-data .linhaPar td {
	color: #39608b;
	font-size: 12px;
}
.ui-datatable .ui-datatable-data .linhaImpar {
	background: #F0F0F8;
	color: #39608b !important;
	border: 1px solid #AED0EA;
	font-size: 12px;
}
.ui-datatable .ui-datatable-data .ui-state-highlight {
	background: #e7e8ea;
	border: 1px solid #ffffff;
	font-size: 12px;
}
.ui-datatable .ui-datatable-data td .ui-state-highlight{
	background: #ffffff;
	border: 1px solid #fff;
	font-size: 12px;
}
.ui-datatable .ui-datatable-data .ui-selected td {
	background: #AED0EA;
	font-size: 12px;
}

/*Margem lateral dos ícones*/
.icone {
	margin-right:2px;
}

/* Mensagem de Obrigatoriedade*/
.msgObrigatorio{
    color: #FF0000;
    font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Helvetica,sans-serif;
    font-size: 0.7em;
    margin-bottom: 10px;
    text-align: left;
}
	
/* Ícone de Obrigatoriedade*/
.icoObrigatorio{
	background:url("../resources/design/imagem/asterisco.png") no-repeat;
	scroll 0 0 transparent;
    margin: 5px 0 0;
    padding: 0 0 0 7px;
    position: relative;
}

/*Mensagem de Sucesso*/

.sucesso {
	background-color: #E3F1FA;
	color: #39608B;
	border: 1px solid #AED0EA;
	margin: 10px 0;
	padding: 10px;
	background-position: 0 0;
	height: 100%;
	margin-top: -4px;
	width: 97%;
	font-weight: bold;
	font-size: 15px;
}

.sucesso-icon {
	background: url("../resources/design/imagem/icone-sucesso.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	padding-left: 30px;
	height: 24px;
}

/*Tirando as bordas de link dos ícones*/

img{
	border: none 0px !important;
	}


/*NOVA BARRA 29/08/2011*/
#barra-brasil-v3
{
	background: #00500F none repeat scroll 0 0 !important;
	clear: both !important;
	height: 28px !important;
	min-width: 881px !important;
	overflow: hidden !important;
	position: relative !important;
	margin-top: -10px !important;
}
#barra-brasil-v3 DIV
{
	background: transparent url(../resources/design/imagem/barra-brasil-v3-bgx.gif) repeat-x scroll 0 bottom !important;
	display: block !important;
	height: 28px !important;
	width: 50% !important;
}
#barra-brasil-v3 DIV .imagemGov
{
	background: transparent url(../resources/design/imagem/barra-brasil-v3-verde.gif) no-repeat scroll right top !important;
	height: 24px !important;
	left: 50% !important;
	margin-left: -500px !important;
	position: absolute !important;
	top: 4px !important;
	width: 941px !important;
}
#barra-brasil-v3 DIV .brasilgov
{
	border: 0 none #000000 !important;
	display: block !important;
	float: right !important;
	height: 24px !important;
	width: 100px !important;
}

/*--MENU--*/
.wijmo-wijmenu a.ui-state-default:link, .wijmo-wijmenu a.ui-state-default:visited, .wijmo-wijmenu a.ui-state-default:hover, .wijmo-wijmenu a.ui-state-default:active, .wijmo-wijmenu a.ui-state-hover:link, .wijmo-wijmenu a.ui-state-hover:visited, .wijmo-wijmenu a.ui-state-hover:hover, .wijmo-wijmenu a.ui-state-hover:active, .wijmo-wijmenu a.ui-state-active:link, .wijmo-wijmenu a.ui-state-active:visited, .wijmo-wijmenu a.ui-state-active:hover, .wijmo-wijmenu a.ui-state-active:active {

	color:#FFF !important;
	background: #39608b !important;
}

.ui-widget-content {
    border: 1px solid #39608b !important;
}

/*--CENTRALIZAR--*/
.divCentralizada {
	text-align:center;
}