@CHARSET "UTF-8";

.ui-datatable .ui-datatable-data .colunarSemBorder td {
	border-style: none;
	border-width: 0px;
}

/* structure */
.inner-container-780 {
	position: absolute;
	left: 50%;
	margin-left: -390px;
	border: 1px solid #D7D7D2;
	background: #FFF;
	/*margin: 0 auto;*/
	padding: 10px;
	width: 780px;
	
}